.footer{
  margin-right: 0px;
  background-color: rgb(17, 21, 37);
}
.row{
  margin-right: 0px;
  margin-left: 0px;
  text-align: center;
}
.copyright{
  color: rgb(255, 255, 255);
  margin-top: 8px;


}
.logo_footer{
  margin-top: 1%;
  width: 2%;
}

