<div class="card">
  <div class="col-md-12">
      <form>
          <div class="form-row">
              <div class="form-group col-md-12">
                <label for="inputNome">Nome</label>
                <input type="text" class="form-control" id="inputNome" placeholder="Digite seu nome">
              </div>
            </div>
          <div class="form-row">
            <div class="form-group col-12">
              <label for="inputEmail">Email</label>
              <input type="email" class="form-control" id="inputEmail" placeholder="Digite seu email">
            </div>
          </div>
          <div class="form-row">
              <div class="form-group col-md-12">
                <label for="inputAssunto">Assunto</label>
                <input type="text" class="form-control" id="inputAssunto" placeholder="Digite o assunto">
              </div>
            </div>


          <div class="form-row">
              <div class="form-group col-md-12">
                <label for="inputMsg">Mensagem</label>
                <textarea type="text" class="form-control" id="inputMsg" placeholder="Digite sua mensagem" cols="30" rows="5"></textarea>
              </div>
            </div>
          <button type="submit" disabled="disabled" class="btn btn-primary">Enviar</button>
        </form>

    </div>
</div>
