<div class="row navbar">
  <div class="col-4">
    <img class="btn logo" (click)="irParaHome()" src="../../assets/img/logo_kero_ajuda.png" alt="">
  </div>
  <div class="col-8">
      <nav class="nav nav-pills nav-fill">
          <a class="nav-item nav-link btn" routerLinkActive="active" (click)="irParaLogin()">Login/Cadastro</a>
          <a class="nav-item nav-link btn" routerLinkActive="active" (click)="irParaSobre()">Sobre o Kero Ajuda</a>
          <a class="nav-item nav-link btn" routerLinkActive="active" (click)="irParaPacotes()">Nossos pacotes</a>
          <a class="nav-item nav-link btn" routerLinkActive="active" routerLink="/contato">Contato</a>
          <a class="nav-item nav-link btn" routerLinkActive="active" routerLink="/politica">Termos e políticas</a>
      </nav>
  </div>

</div>
