.logo{
  max-width: 50%;
}
.navbar{
  margin-right: 0px;
  box-shadow: 5px 5px 5px #888888;
}
.topo{
  height: 15px;
  background-color: #25485e;
}
.nav-item{
  font-family: cursive;
}
.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
  color: #fff;
  background-color: #00438b;
}
@media (max-width: 570px) {
  .logo{
    max-width: 200%;
    margin-left: 90%;
  }
}
