<div class="row navbar">
  <div class="col-4">
    <img class="btn logo" src="../../assets/img/logo_kero_ajuda.png" alt="">
  </div>
  <div class="col-sm">
      <nav class="nav nav-pills nav-fill">
          <a class="nav-item nav-link btn" routerLinkActive="active" routerLink="/home">Inicio</a>
          <a class="nav-item nav-link btn" routerLinkActive="active" routerLink="/login">Login</a>
          <a class="nav-item nav-link btn" routerLinkActive="active" routerLink="/contato">Entre em Contato</a>
          <a class="nav-item nav-link btn" routerLinkActive="active" routerLink="/politica">Termos e políticas</a>
      </nav>
  </div>

</div>
