<div class="container">
    <div class="page-box">
        <div class="row pacotes">
            <div class="col-sm-4">
              <div class="card">
                <img src="../../assets/img/pacotes/pacotes.png" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Pacote 1</h5>
                  <p class="card-text">2 Créditos</p>
                </div>
                <ul class="list-group list-group-flush">
                  <li class="list-group-item">R$ 4,00</li>
                </ul>
                <div class="card-body">
                  <a href="#" class="card-link">Comprar Agora</a>
                </div>
              </div>
            </div>
            <div class="col-sm-4">
                <div class="card">
                  <img src="../../assets/img/pacotes/pacotes123.png" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">Pacote 2</h5>
                    <p class="card-text">5 Créditos</p>
                  </div>
                  <ul class="list-group list-group-flush">
                    <li class="list-group-item">R$ 9,00</li>
                  </ul>
                  <div class="card-body">
                    <a href="#" class="card-link">Comprar Agora</a>
                  </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="card">
                  <img src="../../assets/img/pacotes/pacotes34.png" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">Pacote 3</h5>
                    <p class="card-text">10 Créditos</p>
                  </div>
                  <ul class="list-group list-group-flush">
                    <li class="list-group-item">R$ 18,00</li>
                  </ul>
                  <div class="card-body">
                    <a href="#" class="card-link">Comprar Agora</a>
                  </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="card">
                  <img src="../../assets/img/pacotes/pacotes123.png" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">Pacote 4</h5>
                    <p class="card-text">15 Créditos</p>
                  </div>
                  <ul class="list-group list-group-flush">
                    <li class="list-group-item">R$ 28,00</li>
                  </ul>
                  <div class="card-body">
                    <a href="#" class="card-link">Comprar Agora</a>
                  </div>
                </div>
              </div>
              <div class="col-sm-4">
                  <div class="card">
                    <img src="../../assets/img/pacotes/pacotes34.png" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Pacote 5</h5>
                      <p class="card-text">20 Créditos</p>
                    </div>
                    <ul class="list-group list-group-flush">
                      <li class="list-group-item">R$ 45,00</li>
                    </ul>
                    <div class="card-body">
                      <a href="#" class="card-link">Comprar Agora</a>
                    </div>
                  </div>
              </div>
              <div class="col-sm-4">
                  <div class="card">
                    <img src="../../assets/img/pacotes/pacotes34.png" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Pacote 6</h5>
                      <p class="card-text">30 Créditos</p>
                    </div>
                    <ul class="list-group list-group-flush">
                      <li class="list-group-item">R$ 50,00</li>
                    </ul>
                    <div class="card-body">
                      <a href="#" class="card-link">Comprar Agora</a>
                    </div>
                  </div>
              </div>
        </div>
    </div>

  </div>

