<div class="page">
    <div class="container">
        <div class="tela_smartphone">
            <div class="row">

                <div class="col-6 celular_anim">
                  <img class="cel"  src="../../assets/img/smartphone.png" alt="">
                  <img class="img"  [@fade]="stateName" src="../../assets/img/login.png" alt="">
                  <img class="img2" [@fade2]="stateName"  src="..1/../assets/img/servicos.png" alt="">
                </div>


                <div class="col-sm texto_google_play">
                  <div class="card">
                      <h4><b>Procurando uma forma de ganhar alguma renda extra? ou está precisando de algum prestador de serviço? Não precisa mais procurar, aqui nós temos tudo isso num só aplicativo.</b></h4>
                      <a  (click)="irParaPlaystore()"><img class="btn google_play" src="../../assets/img/disponivel_google_play.png" alt="" ></a>
                  </div>

                </div>


            </div>

        </div>
    </div>


</div>

