<div class="page">
    <div class="container">
      <div class="page-box">
        <div class="tela_smartphone">
            <div class="row">
                <div class="col-6 texto_google_play">
                  <div class="card">
                      <h4>Procurando uma forma de ganhar alguma renda extra? ou está procurando algum profissional para realizar serviço específicos? Não precisa procurar mais, aqui nós temos tudo isso num só aplicativo.</h4>
                      <a  (click)="irParaPlaystore()"><img class="btn google_play" src="../../assets/img/disponivel_google_play.png" alt="" ></a>
                  </div>

                </div>

                <div class="col-6">
                  <img class="cel"  src="../../assets/img/smartphone.png" alt="">
                  <img class="img"  [@fade]="stateName" src="../../assets/img/login.png" alt="">
                  <img class="img2" [@fade2]="stateName"  src="..1/../assets/img/servicos.png" alt="">
                </div>

            </div>

        </div>



      </div>
    </div>


</div>

