<div class="card">
  <div class="card-header">
      <h1><b>TERMO DE ADESÃO, USO E CONDIÇÕES</b></h1>
  </div>

<div class="card-body">
      <h4 style="color: red;"><b>LEIA COM ATENÇÃO OS TERMOS E CONDIÇÕES.</b></h4>

      <h4>
        Ao se cadastrar no KERO AJUDA você <b>ESTÁ DE ACORDO COM AS CONDIÇÕES E
          TERMOS</b> do Website e do Aplicativo. Note que <b>a recusa destes Termos IMPEDIRÁ</b>
        a utilização dos serviços do nosso Website e do Aplicativo.
      </h4>
      <br>
      <div>
        <h2 class="titulo">1. SERVIÇOS OFERECIDOS</h2>
        <div class="paragrafo">
          <p>
            1.1 Este TERMO se aplica para regular o uso do serviço oferecido pela KERO AJUDA aos CLIENTES, qual seja, possibilitar a escolha, pelos CLIENTES cadastrados via on-line, efetivar solicitações para encontrar serviços (domésticos, hidráulicos, elétricos, informática, frete, montagem de móveis, construção civil, serviços diversos, etc.) oferecidos por PROFISSIONAIS AUTÔNOMOS cadastrados no Website e no Aplicativo, de acordo com a lista disponibilizada.
          </p>
          <p>
            1.2 O serviço do KERO AJUDA consiste, portanto, em aproximar e/ou conectar, através do nosso Website e do Aplicativo, os CLIENTES aos PROFISSIONAIS AUTÔNOMOS cadastrados, possibilitando que os CLIENTES encaminhem, aos PROFISSIONAIS AUTÔNOMOS, pedidos de serviços em domicílio.
          </p>
          <p>
            1.3 Desde logo fica esclarecido ao CLIENTE - o qual se declara ciente - que o serviço oferecido pelo KERO AJUDA se relaciona apenas à intermediação para o oferecimento de serviços (domésticos, hidráulicos, elétricos, informática, frete, montagem de móveis, construção civil, serviços diversos, etc.)sendo esses itens de responsabilidade integral do PROFISSIONAIS AUTÔNOMOS, a quem deverão ser direcionadas quaisquer reclamações acerca de problemas decorrentes de mau serviço, defeito ou inexecução do serviço e/ou preço.
          </p>
          <p>
            1.4 O CLIENTE está ciente e concorda que os serviços são fornecidos na forma como se encontram disponibilizados.
          </p>
          <p>
            1.5 O CLIENTE fica desde logo informado e concorda que os serviços do KERO AJUDA estarão disponíveis 24 (vinte e quatro) horas por dia, 7 (sete) dias por semana, mas que por motivos alheios à vontade do KERO AJUDA, incluindo, mas não se limitando à caso fortuito, força maior, e manutenção dos servidores, os mesmo poderão estar indisponíveis para consultas pelo USUÁRIO.
          </p>
        </div>
        <br>
        <div>
          <h2 class="titulo">2. CADASTRO</h2>
          <div class = "paragrafo">
            <p>
              2.1 O CLIENTE, para utilizar os serviços acima descritos, deverá ter capacidade jurídica para atos civis e deverá, necessariamente, prestar as informações exigidas no CADASTRO, assumindo integralmente a responsabilidade (inclusive cível e criminal) pela exatidão e veracidade das informações fornecidas no CADASTRO, que poderá ser verificado, a qualquer momento, pelo KERO AJUDA.
            </p>
            <div class="subparagrafos">
              <p>
                2.1.1 Em caso de informações incorretas, inverídicas ou não confirmadas, bem assim na hipótese da negativa em corrigi-las ou enviar documentação que comprove a correção, o KERO AJUDA se reserva o direito de não concluir o cadastramento em curso ou, ainda, de bloquear o cadastro já existente, impedindo o CLIENTE de utilizar os serviços on-line até que, a critério do KERO AJUDA, a situação de anomalia esteja regularizada. O KERO AJUDA se reserva o direito de impedir, a seu critério, novos CADASTROS, ou cancelar os já efetuados, em caso de ser detectada anomalia que, em sua análise, seja revestida de gravidade ou demonstre tentativa deliberada de burlar as regras aqui descritas, obrigatórias para todos os CLIENTES. Também agirá o KERO AJUDA de tal forma caso verifique descumprimento, pelo CLIENTE, de qualquer obrigação prevista no presente TERMO.
              </p>
            </div>
            <p>
              2.2 Efetuado, com sucesso, o CADASTRO, o CLIENTE terá acesso aos serviços por meio de login e senha, dados esses que são pessoais, intransferíveis, se compromete a não divulgar a terceiros, ficando sob sua exclusiva responsabilidade qualquer solicitação de serviço que seja feita com o uso de login e senha de sua titularidade.
            </p>
          </div>
        </div>
        <br>
        <div>
          <h2 class="titulo">3. OBRIGAÇÕES DO USUÁRIO </h2>
          <div class="paragrafo">
            <p>3.1 Efetuado com sucesso o CADASTRO do CLIENTE, este se obriga a não divulgar a terceiros login e senha de acesso, nem permitir o uso de tais informações por terceiros, responsabilizando-se pelas consequências do uso de login e senha de sua titularidade.</p>
            <p>3.2 É obrigação do CLIENTE fornecer informações cadastrais totalmente verídicas e exatas, responsabilizando-se exclusiva e integralmente (em todas as searas jurídicas) por todo o conteúdo por si informado no item CADASTRO, mantendo atualizado e confirmado o endereço onde serão realizados os serviços contratados no KERO AJUDA. </p>
            <p>3.3 O CLIENTE declara, reconhece e aceita como de sua responsabilidade e risco de operar o sistema e utilizar os serviços. O CLIENTE atesta que utiliza sua própria escolha livre e desimpedida para participar voluntariamente nesta atividade. O CLIENTE se compromete a tomar o devido cuidado durante a compartilhamento, participação, uso e/ou operação dos serviços. O CLIENTE reconhece, compreende e tem consciência de todos os riscos que se relacionam ao uso dos SERVIÇOS.</p>
            <p>3.4 O KERO AJUDA, não se responsabilizará, em hipótese alguma, por roubo, perdas ou danos relacionados ao uso dos serviços.</p>
            <p>3.5 O CLIENTE isenta o KERO AJUDA de toda responsabilidade, a qualquer título, por quaisquer danos, tais como danos materiais, pessoais, morais, estéticos, que venha a causar a si ou a terceiros, ou que venha a sofrer em razão de quaisquer eventos ocorridos ou relacionados ao uso do aplicativo ou dos serviços.</p>
          </div>
        </div>
        <br>
        <div>
          <h2 class="titulo">4. OBRIGAÇÕES DO KERO AJUDA </h2>
          <div class="paragrafo">
            <p>4.1 Disponibilizar no site KERO AJUDA espaço virtual que permita ao CLIENTE devidamente cadastrado efetivar a busca e a conexão com PROFISSIONAIS AUTÔNOMOS. </p>
            <p>4.2 Proteger, por meio de armazenamento em servidores ou quaisquer outros meios magnéticos de alta segurança, a confidencialidade de todas as informações e cadastros relativos aos CLIENTES. Contudo, não responderá pela reparação de prejuízos que possam ser derivados de apreensão e cooptação de dados por parte de terceiros que, rompendo os sistemas de segurança, consigam acessar essas informações.</p>
            <p>4.3 O KERO AJUDA poderá fornecer as informações do CLIENTE para terceiros nos seguintes casos:</p>
            <div class="topicos">
              <p>I - por determinação Judicial;</p>
              <p>II - em atendimento a requerimento do Ministério Público ou Policial;</p>
              <p>III - para garantir a não violação de direitos de terceiros;</p>
              <p>IV - para garantir a observância pelos CLIENTES deste Termo de Adesão, Uso e Condições.</p>
            </div>
          </div>
        </div>
        <br>
        <div>
          <h2 class="titulo">5. MODIFICAÇÕES DESTE TERMO </h2>
          <div class="paragrafo">
            <p>5.1 O presente TERMO DE USO poderá, a qualquer tempo, ter seu conteúdo, ou parte dele, modificados para adequações e inserções, tudo com vistas ao aprimoramento dos serviços disponibilizados. </p>
            <p>5.2 As novas condições entrarão em vigência assim que sejam veiculadas no site, sendo possível ao CLIENTE manifestar oposição a quaisquer dos termos modificados, desde que o faça por escrito, através do site KERO AJUDA, o que gerará o cancelamento automático de seu CADASTRO. </p>
          </div>
        </div>
        <br>
        <div>
          <h2 class="titulo">6. CANAL DE COMUNICAÇÃO </h2>
          <div class="paragrafo">
            <p>6.1 Para estabelecer contato entre KERO AJUDA e o CLIENTE fica disponibilizado o endereço eletrônico deste link da internet, sendo certo que o CLIENTE se obriga, igualmente, a manter em seu cadastro endereço eletrônico atual por intermédio do qual se farão as comunicações a ele dirigidas pelo KERO AJUDA, desde logo emprestando-se validade jurídica e efetividade a esse meio eletrônico de troca de informações recíprocas. </p>
          </div>
        </div>
        <br>
        <div>
          <h2 class="titulo">7. DIREITO AUTORAL E RESTRIÇÕES DE USO</h2>
          <div class="paragrafo">
            <p>7.1 O CLIENTE reconhece e concorda que todo o conteúdo dos Sites de internet publicados pelo KERO AJUDA, é protegido pela Lei de Direito Autoral (Lei 9.610/98), bem como tratados internacionais aplicáveis a matéria. Nesse sentido, o CLIENTE se compromete a respeitar tais direitos, bem como se obriga a utilizar os SERVIÇOS apenas para fins de consulta e uso particular, SENDO EXPRESSAMENTE VEDADA A UTILIZAÇÃO DOS SERVIÇOS PARA QUAISQUER OUTROS FINS, SEM PRÉVIA E EXPRESSA AUTORIZAÇÃO DO KERO AJUDA.</p>
            <p>7.2 O CLIENTE não deve:</p>
            <div class="topicos">
              <p>(a) copiar, traduzir, modificar ou realizar trabalhos derivados do Conteúdo do Site e do Aplicativo ou de qualquer parte dele;</p>
              <p>(b) redistribuir, sublicenciar, alugar, publicar, vender, designar, arrendar, comercializar, transferir ou de outra maneira disponibilizar o Site e o Aplicativo ou o Conteúdo para terceiros; </p>
              <p>(c) fazer engenharia reversa, decompilar ou de outra maneira tentar extrair o código-fonte do Site e do Aplicativo ou de qualquer parte dele, a menos que isso seja expressamente permitido ou solicitado pelas leis aplicáveis;</p>
              <p>(d) usar o Site e o Aplicativo de forma a dar acesso a downloads ou feeds em massa de qualquer Conteúdo, incluindo, entre outros, coordenadas numéricas de latitude ou longitude, imagens e dados de mapa visíveis;</p>
              <p>(e) excluir, mascarar ou de outra maneira alterar qualquer aviso ou link que apareça no Site e no Aplicativo ou no Conteúdo;</p>
              <p>ou (f) usar o Site e o Aplicativo para criar um banco de dados de lugares ou outras informações de listagens de locais.</p>
            </div>
            <p>7.3 O CLIENTE concorda em se responsabilizar por sua própria conduta e por todo o conteúdo durante o uso do Site e do Aplicativo e por todas as consequências deles advindas. A título de exemplo, e não como uma limitação, o CLIENTE concorda que, ao usar o Site e o Aplicativo ou o seu Conteúdo, não irá:</p>
            <div class="topicos">
              <p>(a) difamar, ofender, importunar, perseguir, ameaçar ou de outra maneira violar os direitos legais (os direitos de privacidade e publicidade, por exemplo) de terceiros;</p>
              <p>(b) fazer upload, postar, enviar por e-mail, transmitir ou divulgar qualquer conteúdo impróprio, difamatório, obsceno ou ilegal; </p>
              <p>(c) fazer upload, postar, transmitir ou disponibilizar qualquer conteúdo que infrinja qualquer patente, marca registrada, direito autoral, segredo comercial ou outro direito de propriedade de terceiros, salvo se o CLIENTE for o proprietário dos respectivos direitos ou tiver permissão do proprietário ou outra justificativa legal para usar o referido conteúdo; </p>
              <p>(d) fazer upload, postar, enviar por e-mail, transmitir ou disponibilizar mensagens que promovam esquemas em pirâmide, correntes ou mensagens ou propagandas inoportunas; </p>
              <p>(e) fazer upload, postar, enviar por e-mail, transmitir ou disponibilizar qualquer outro conteúdo, mensagem ou comunicação proibidos pela lei aplicável, pelos Termos ou por qualquer política ou diretriz aplicável dos Produtos; </p>
              <p>(f) assumir a identidade de outra pessoa ou entidade, ou falsificar ou excluir qualquer atribuição de autor ou designação de proprietário ou rótulo de origem ou fonte do Conteúdo, software ou outro material; </p>
              <p>(g) restringir ou impedir que outro usuário use ou aproveite os Produtos ou os serviços do Site e do Aplicativo; </p>
              <p>(h) usar qualquer robô, indexador, aplicativo de pesquisa/recuperação de sites ou outro dispositivo para recuperar ou indexar qualquer parte dos serviços do Site e do Aplicativo ou do Conteúdo ou coletar informações sobre os PROFISSIONAIS AUTÔNOMOS para qualquer finalidade não autorizada; </p>
              <p>(i) promover lesões ou danos físicos contra qualquer grupo ou indivíduo; </p>
              <p>ou (j) transmitir vírus, worms, defeitos, cavalos de Tróia ou qualquer item de natureza destrutiva.</p>

            </div>
            <p>7.4. O Site e do Aplicativo permite que o CLIENTE acesse e veja uma variedade de conteúdos, inclusive, sem limitações, imagens fotográficas, textos, dados de mapas e terrenos, listagens de empresas, comentários, tráfego e outras informações relacionadas fornecidas pelo KERO AJUDA, seus licenciantes e os PROFISSIONAIS AUTÔNOMOS (o "Conteúdo"). O CLIENTE entende e concorda com o seguinte:</p>
            <div class="topicos">
              <p>(a) dados de mapas, trânsito, rotas e Conteúdo relacionado são fornecidos somente para fins de referência e o KERO AJUDA se exime de qualquer tipo de responsabilidade no que se refere aos serviços prestados. Ademais, é possível que as condições do tempo, obras, interdições ou outros eventos alterem as condições das estradas ou as rotas sejam diferentes dos resultados do mapa. O CLIENTE deve usar o bom senso ao usar esse Conteúdo;</p>
              <p>(b) imagens, textos e conteúdos de terceiros são fornecidos sem qualquer tipo de responsabilidade por parte do KERO AJUDA. Caso o CLIENTE se sinta ofendido ou infrinja direito próprio ou de terceiros, requer o KERO AJUDA que seja imediatamente notificado, a fim de que tome as devidas providências perante os devidos responsáveis; </p>
              <p>(c) Determinado Conteúdo pode ser fornecido nos termos de licença de outras sociedades e empresas que não sejam o KERO AJUDA, e está sujeito aos direitos autorais e a outros direitos de propriedade intelectual detidos por outros terceiros. O CLIENTE poderá ser responsabilizado por qualquer cópia ou divulgação não autorizada do Conteúdo. </p>
            </div>

          </div>
        </div>
      <br>
      <div>
        <h2 class="titulo">8. ANUNCIANTES</h2>
        <div class="paragrafo">
          <p>8.1 O CLIENTE concorda e reconhece que o KERO AJUDA disponibiliza para o CLIENTE tão somente os serviços discriminados neste Termo. Assim sendo, eventuais negociações ou participações do CLIENTE, em promoções veiculadas por anunciantes, presentes no Site onde são acessados os serviços, incluindo pagamento ou entrega de bens e serviços, condições, garantias e apresentações associadas a tal negociação, ocorrem exclusivamente, por conta e responsabilidade do CLIENTE, do anunciante e dos prestadores dos serviços. O CLIENTE concorda que o KERO AJUDA não é responsável por quaisquer prejuízos originários da falha ou falta de qualquer serviço/produto disponibilizado pelos anunciantes.</p>
        </div>
      </div>
      <br>
      <div>
        <h2 class="titulo">9. LINKS</h2>
        <div class="paragrafo">
          <p>9.1 O CLIENTE RECONHECE E CONCORDA QUE O KERO AJUDA NÃO SERÁ RESPONSÁVEL, PELO CONTEÚDO, PROPAGANDA, PRODUTOS, SERVIÇOS OU OUTROS MATERIAIS CONTIDOS OU DISPONIBILIZADOS PELOS ANUNCIANTES, ATRAVÉS DE LINKS CONTIDOS NO SITE, NO APLICATIVO OU ONDE O SERVIÇO ESTÁ SENDO DISPONIBILIZADO.</p>
        </div>
      </div>
      <br>
      <div>
        <h2 class="titulo">10. GARANTIA LIMITADA</h2>
        <div class="paragrafo">
          <p>10.1 O CLIENTE DECLARA CIÊNCIA E CONCORDA QUE OS SERVIÇOS SÃO DISPONIBILIZADOS GRATUITAMENTE OU PAGOS, NO ESTADO EM QUE SE ENCONTRAM E, POR ISSO, PARA OS SERVIÇOS GRATUITOS NÃO TEM QUALQUER TIPO DE GARANTIA PARA O USUÁRIO E QUANTO AOS PAGOS, A GARANTIA SE ENCONTRA DISCRIMINADA EM CADA TERMO DE USO DE CADA SITE CORRESPONDENTE.</p>
        </div>
      </div>
      <br>
      <div>
          <h2 class="titulo">11. RESPONSABILIDADE</h2>
          <div class="paragrafo">
            <p>11.1 O KERO AJUDA não poderá ser responsabilizada por qualquer falha ou não funcionamento dos serviços provenientes de terceiros ou decorrentes de caso fortuito ou força maior.</p>
          </div>
      </div>
      <br>
      <div>
          <h2 class="titulo">12. DA PROTEÇÃO DE DADOS</h2>
          <div class="paragrafo">
            <p>12.1 O KERO AJUDA irá processar e utilizar os dados dos CLIENTES obtidos e necessários para a prestação dos serviços. À proteção de dados dos CLIENTES serão aplicadas as regras da política de privacidade do KERO AJUDA.</p>
            <p>12.2 O KERO AJUDA tomará todas as medidas possíveis para manter a confidencialidade e a segurança descritas nesta cláusula, porém não responderá por prejuízo que possa ser derivado da violação dessas medidas por parte de terceiros que utilizem as redes públicas ou a internet para acessar as informações de CLIENTES.</p>
          </div>
      </div>
      <br>
      <div>
          <h2 class="titulo">13. DISPOSIÇÕES GERAIS</h2>
          <div class="paragrafo">
            <p>13.1 Os regulamentos relativos a eventuais campanhas promocionais, propagandas de incentivo e outros programas que propiciem benefícios adicionais ao CLIENTE serão divulgados separadamente, sendo que, por mera liberalidade, alguns serviços poderão ser oferecidos gratuitamente ou com variações dos preços e condições regularmente ofertados a título promocional e por prazo determinado.</p>
            <p>13.2 Na hipótese de qualquer uma das disposições deste contrato vir a ser considerada contrária à lei brasileira, por qualquer autoridade governamental ou decisão judicial, as demais disposições não afetadas continuarão em vigor e as partes deverão alterar este instrumento de forma a adequá-lo a tal lei ou à decisão judicial.</p>
            <p>13.3. O CLIENTE autoriza o KERO AJUDA a utilizar recursos de envio de mensagens eletrônicas para o endereço do e-mail e/ou número do telefone celular do USUÁRIO, necessários a execução dos serviços contratados.</p>
          </div>
      </div>
      <br>
      <div>
          <h2 class="titulo">14. ACEITAÇÃO DO TERMO DE USO </h2>
          <div class="paragrafo">
            <p>14.1 O CLIENTE declara ter lido, entendido e que aceita todas as regras, condições e obrigações estabelecidas no presente TERMO. </p>
          </div>
      </div>
      <br>
      <div>
          <h2 class="titulo">15. FORO DE ELEIÇÃO</h2>
          <div class="paragrafo">
            <p>15.1 As partes elegem como competente para dirimir eventuais controvérsias que venham a surgir da interpretação e do cumprimento do presente TERMO o foro da Comarca do Juazeiro do Norte - CE.</p>
          </div>
      </div>

      </div>

</div>

</div>
